<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About Page</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/about.css">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="content-page">
  <div class="container-fluid">
    
  <section class="hero">
    <div class="container">
      <div class="row">
        <h1 class="text-uppercase">Hello, there!!</h1>
        <span class="text">
          <p>Rare Carat was born out of a painful experience of buying diamonds online. So we created a kick-ass product to help users search across a number of reputable sites at one go, and by using advanced data science to help intelligently select the best deal.
          </p>
          <p>
            We hope your experience is better than ours was.
          </p>
        </span>
      </div>
    </div>
  </section>
  
  <section class="mission">
    <div class="container">
      <div class="row">
        <h2 class="text-uppercase">Our Mission</h2>
        <span class="text">
          <p>Seven out of eight people still buy diamonds offline. We want to bring you online to help you spend less, get more, and feel more confident doing so. We&rsquo;re on your team. We&rsquo;ve hand selected vendors with stellar reputations and services to search with a click.</p>
          <p>It&rsquo;s personal. Our recently engaged founder struggled with the same issues you&rsquo;re having today - spending a lot of money on something he knew little about on sites he&rsquo;d never heard of. Read about his journey <a href="http://blog.rarecarat.com/post/my-engagement-ring-story" target="_blank">here</a>.</p>
          <p>We&rsquo;re also using data science and machine learning with IBM Watson to help you make the smartest decision. This <a href="http://blog.rarecarat.com/post/watson-score-how-we-re-using-data-science-and-machine-learning" target="_blank">blog post</a> explains more.</p>
          <p>In research and development, we&rsquo;re testing artificial intelligence bots that ask questions in English, instead of &ldquo;Diamond-ese&rdquo; to help guide new buyers in finding the right stone.</p>
          <p>If you have suggestions for features to make buying diamonds better, we&rsquo;re all ears.</p>
        </span>
      </div>
    </div>
  </section>
    
  <section class="stats">
    <div class="container">
      <div class="row" id="stats-row">
        <div class="">
          <span class="stats-value" data-start="0" data-end="2">0</span>
          <span class="stats-label">Days</span>
        </div>
        <div class="">
          <span class="stats-value" data-start="0" data-end="10">0</span>
          <span class="stats-label">Users</span>
        </div>
        <div class="">
          <span class="stats-value" data-start="0" data-end="20">0</span>
          <span class="stats-label">Searches</span>
        </div>
      </div>
    </div>
  </section>
  
</div>
</section>


<br><br><br><br><br><br><br>
<!-- partial -->
  <script src='https://use.typekit.net/tnk3pbq.js'></script>
<script src='https://cdn.rawgit.com/inorganik/countUp.js/9ec0f5659e4ef38adb44dad2d0f66f5e15b0cbc7/countUp.min.js'></script>
<script src='https://cdn.rawgit.com/imakewebthings/waypoints/d21e1690bb5f407de4bf0bd9f08d967cf2027424/lib/noframework.waypoints.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script>
  try{Typekit.load({ async: true });}catch(e){};

var countAnimation = (function () {
  var options = {
    useEasing : true, 
    useGrouping : true, 
    separator : ',', 
    decimal : '.', 
    prefix : '', 
    suffix : '' 
  };
  
  var startCount = function () {  
    $( ".stats-value" ).each(function( index, element ) {
      var queueCountAnimation = new countUp(element, $(element).data("start"), $(element).data("end"), 0, 1, options);
      queueCountAnimation.start();
    });
  };

  return {
    startCount: startCount
  };

})();

var waypoint = new Waypoint({
  element: document.getElementById('stats-row'),
  handler: function(direction) {    
    if (direction === 'down') {
      countAnimation.startCount()
    }
  },
  offset: '100%'
})
</script>

</body>
</html>
