<!DOCTYPE html>
<html lang="en" >
<head><!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About Page</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/about.css">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="content-page">
  <div class="container-fluid">
    
  <section class="hero">
    <div class="container">
      <div class="row">
        <h1 class="text-uppercase">The CoMess welcomes!!</h1>
        <span class="text">
          <p>
            This website is designed to ease the mess management and enhance the food quality of IIIT Lucknow. 
          
            We hope your experience is better than ours was.
          </p>  
        </span>
      </div>
    </div>
  </section>
  
  <section class="mission">
    <div class="container">
      <div class="row">
        <h2 class="text-uppercase">ABOUT US </h2>
        <span class="text">
          <p>We the young engineering minds are bound to solve problems and find the most optimised solutions.During starting days of our offline colledge we encountered one such problem with the mess management of our college and how students had to face this problem everyday.<br><br> After analysing through each of this aspects, we have come up with the most exciting project the complete standalone mess management system - "THE COMESS".This project's main aim is to solve the core problems faced by students on daily basis in mess such as food shortage, long queues and hygienic issues.<br><br>The project is also focusing on the betterment of mess by introducing a feedback system. The idea itself was brought by the 1st year students of IIIT Lucknow. The website consists of two different sections, one for the mess committee and mess workers and other one for the students.<br><br> Reducing the wastage of food is our top priority ,which is achieved by keeping a track on number of students , staff and other members of the IIITL lucknow family.
The mess workers constantly update the amount of food remaining, so that no one has to wait if the food finishes.
<br><br>
It also allows students to report prior to the timing about the time they are going to have breakfast/lunch/snacks/dinner so that one can shift his/her timing if a certain time slot is highly crowded.
The feedback option allows students to react to the taste and quality of food.It alaso have a query portal to answer any query that the students have.
It is a standalone platform for students and mess workers, which is providing solutions to almost all mess issues. <br><br>
If this website is stable enough and works greatly in our college, then we will release this website for other colleges as well. we also plan to make this website an open-source project so that any changes suggested by the mass which is viable and helps the website can be implemented.
          We&rsquo;re using NodeJs and ReactJs with HTML CSS to help you get the best Experience. This <a href="https://reactjs.org/" target="_blank">Link</a> explains more.
          </p>
          
        </span>
      </div>
    </div>
  </section>
  <section class="stats">
    <div class="container">
      <div class="row" id="stats-row">
        <div class="">
          <span class="stats-value" data-start="0" data-end="2">0</span>
          <span class="stats-label">Days</span>
        </div>
        <div class="">
          <span class="stats-value" data-start="0" data-end="13">0</span>
          <span class="stats-label">Users</span>
        </div>
        <div class="">
          <span class="stats-value" data-start="0" data-end="24">0</span>
          <span class="stats-label">Searches</span>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="commitee">
  <h1>Committee Members</h1>
  <table>
    <thead>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tr>
      <td>Nitest</td>
      <td><img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png" alt="logo"></td>
      <td>Avani Mennun</td>
      <td><img src="https://mpng.subpng.com/20180504/phe/kisspng-professional-computer-icons-avatar-job-5aec571ec854c8.3222584415254382388206.jpg" alt="logo"></td>
    </tr>
    <tr>
      <td>RDT</td>
      <td><img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png" alt="logo"></td>
      <td>Manjeet Kaur</td>
      <td><img src="https://mpng.subpng.com/20180504/phe/kisspng-professional-computer-icons-avatar-job-5aec571ec854c8.3222584415254382388206.jpg" alt="logo"></td>
    </tr>
    <tr>
      <td>Vikash Mani</td>
      <td><img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png" alt="logo"></td>
      <td>Pallavi</td>
      <td><img src="https://mpng.subpng.com/20180504/phe/kisspng-professional-computer-icons-avatar-job-5aec571ec854c8.3222584415254382388206.jpg" alt="logo"></td>
    </tr>
    <tr>
      <td>Akkala Badrinath</td>
      <td><img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png" alt="logo"></td>
      <td>Ayushi Panth</td>
      <td><img src="https://mpng.subpng.com/20180504/phe/kisspng-professional-computer-icons-avatar-job-5aec571ec854c8.3222584415254382388206.jpg" alt="logo"></td>
    </tr>
    <tr>
      <td>Subhranshu Kumar</td>
      <td><img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png" alt="logo"></td>
      <td>name</td>
      <td><img src="https://mpng.subpng.com/20180504/phe/kisspng-professional-computer-icons-avatar-job-5aec571ec854c8.3222584415254382388206.jpg" alt="logo"></td>
    </tr>
  </table>

</section>


<!-- partial -->
  <script src='https://use.typekit.net/tnk3pbq.js'></script>
<script src='https://cdn.rawgit.com/inorganik/countUp.js/9ec0f5659e4ef38adb44dad2d0f66f5e15b0cbc7/countUp.min.js'></script>
<script src='https://cdn.rawgit.com/imakewebthings/waypoints/d21e1690bb5f407de4bf0bd9f08d967cf2027424/lib/noframework.waypoints.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script>
  try{Typekit.load({ async: true });}catch(e){};

var countAnimation = (function () {
  var options = {
    useEasing : true, 
    useGrouping : true, 
    separator : ',', 
    decimal : '.', 
    prefix : '', 
    suffix : '' 
  };
  
  var startCount = function () {  
    $( ".stats-value" ).each(function( index, element ) {
      var queueCountAnimation = new countUp(element, $(element).data("start"), $(element).data("end"), 0, 1, options);
      queueCountAnimation.start();
    });
  };

  return {
    startCount: startCount
  };

})();

var waypoint = new Waypoint({
  element: document.getElementById('stats-row'),
  handler: function(direction) {    
    if (direction === 'down') {
      countAnimation.startCount()
    }
  },
  offset: '100%'
})
</script>

</body>
</html>
