<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>contact page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="css/contact.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en">
    <head>
        <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  


    </head>
    <body>

<div class="video">
            {{!-- <img src="https://i.ytimg.com/vi/cr3Bf53Lseo/maxresdefault.jpg" alt="logo"/> --}}
            <div class="overlay">
                <div class="container">
                    <h2>contact us</h2>
                    <p class="h2-bottom">The CoMess awaits for your response!</p>
                    <div class="social">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-pinterest"></i>
                    </div>
                    
                   
                    <form action="https://formsubmit.co/lcb2021015@iiitl.ac.in" method="POST">
                        <input type="text" name="name" placeholder="your name" required>
                        <input type="email" name="email" placeholder="your email" required>
                        <input type="tel" name="phone" placeholder="your phone" required>
                        <input type="text" name="_subject" placeholder="subject" value="New Connection!!!">
                        <textarea type="text" name="message" placeholder="message" required></textarea>
                        <button type="submit"><div>send
                            <i class="fa fa-arrow-right"></i></div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
<!-- partial -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>
</html>
