
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Gallery Grid Layout</title>
  <link rel="stylesheet" href="css/gallery.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <section class="grid-container">
    <figure class="item r-span2">
      <img src="pics/pic002.jpg" alt="">
    </figure>

    <figure class="item c-span2">
      <img src="pics/pic008.jpg" alt="">
    </figure>

    <figure class="item r-span2">
      <img src="pics/pic005.jpg" alt="">
    </figure>

    <figure class="item">
      <img src="pics/pic006.jpg" alt="">
    </figure>

    <figure class="item">
      <img src="pics/pic003.jpg" alt="">
    </figure>

    <figure class="item c-span2">
      <img src="pics/pic007.jpg" alt="">
    </figure>

    <figure class="item c-span2">
      <img src="pics/pic010.jpg" alt="">
    </figure>
  </section>
</body>
<!-- partial -->
  
</body>
</html>

