<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="hello">
    <div class="about">
   <a class="bg_links social portfolio" href="https://iiitl.ac.in/" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links logo"></a>
</div> 

    <nav>
        <div class="menu">
            <p class="website_name">IIIT LUCKNOW</p>
            <div class="menu_links">
                <a href="/gallery" class="link">Gallery</a>
                <a href="/about" class="link">About</a>
                <a href="/contact" class="link">Contacts</a>
            </div>
            <div class="menu_icon">
                <span class="icon"></span>
            </div>
        </div>
    </nav>

    <section class="wrapper">

        <div class="container">

            <div id="scene" class="scene" data-hover-only="false">


                <div class="circle" data-depth="1.2"></div>

                <div class="one" data-depth="0.9">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <div class="two" data-depth="0.60">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <div class="three" data-depth="0.40">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <p class="p404" data-depth="0.50">TheCoMess</p>
                <p class="p404" data-depth="0.10">TheCoMess</p>

            </div>

            <div class="text">
                <article>
                    <div>
                        <p>Welcome to the official IIITL Mess Management</p>
                    </div>
                    <div>
                        <span><form method="GET" action="/studentlogin"><button>STUDENT</button></form></span>
                        <span><form method="GET" action="/messlogin"><button>MESS</button></form></span>
                    </div> 
                </article>
            </div>

        </div>
    </section>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>// Parallax Code
    var scene = document.getElementById('scene');
    var parallax = new Parallax(scene);
</script>
   
   
</body>
</html>