<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>mess page</h4>
    <form action="/messpage" method="post">
    <input type="text" name="fooditem" required>
    <label for="fooditem">Fooditem</label>
    <br>
    <input type="number" name="quantity" required>
    <label for="quantity">Quantity</label>
    <button type="submit">Update the food item</button>
    </form>
</body>
</html>