<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/Messeditlive.css">
    
</head>
   
<body>
    <section>
    {{>Messnavbar}}
  <!--for demo wrap-->
  <h1>Fixed Table header</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Food Item</th>
          <th>Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <form method="POST" action="/Messeditlive">
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem1" value="pav"/></td>
          <td><input type="text" name="fooditem1Quantity" value="10"/></td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem2"/></td>
          <td><input type="text" name="fooditem2Quantity"/></td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem3"/></td>
          <td><input type="text" name="fooditem3Quantity"/></td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem4"/></td>
          <td><input type="text" name="fooditem4Quantity"/></td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem5"/></td>
          <td><input type="text" name="fooditem5Quantity"/></td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem6"/></td>
          <td><input type="text" name="fooditem6Quantity"/></td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem7"/></td>
          <td><input type="text" name="fooditem7Quantity"/></td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem8"/></td>
          <td><input type="text" name="fooditem8Quantity"/></td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem9"/></td>
          <td><input type="text" name="fooditem9Quantity"/></td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem10"/></td>
          <td><input type="text" name="fooditem10Quantity"/></td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem11"/></td>
          <td><input type="text" name="fooditem11Quantity"/></td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem12"/></td>
          <td><input type="text" name="fooditem12Quantity"/></td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td> <input type="text" name="fooditem13"/></td>
          <td><input type="text" name="fooditem13Quantity"/></td>
        </tr>
        <button type="submit">Submit the live chart</button>
        </form>
        
      </tbody>
    </table>
        
  </div>
</section>


<script>

</script>
</body>

    