<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>

    <table>
        <th>
            <td id="FirstColumn1"></td>
            <td id="FirstColumn2"></td>
            <td id="FirstColumn3"></td>
            <td id="FirstColumn4"></td>
            <td id="FirstColumn5"></td>
            
        </th>
    </table>
    </div>
    <script>
        const StudentData=[];
        
        fetch('http://localhost:8000/').then(response=>response.json()).then(data=>{
           for(let i =0;i<data.length-8;++i){
            StudentData.push(data[i].firstname);
           }
           console.log(StudentData);
        }).catch(err => console.error(err));
       document.getElementById('FirstColumn1').innerHTML=StudentData[0].;
       document.getElementById('FirstColumn2').innerText=StudentData[1];

    </script>
</body>
</html>
