<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../UI/index.scss">
</head>
<body>
    
    <h1>Hello this is me </h1>
    <form action="/studentlogin" method="GET">
    <button type="submit" >Student Page</button></form>
    <form action="/messlogin" method="GET">
    <button type="submit" action="/messpage" method="POST">mess Page</button>
    </form>
</body>
</html>

<!-- about -->
