<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/Messeditlive.css">
    
</head>
   
<body>
    <section>
    {{>Messnavbar}}
  <!--for demo wrap-->
  <h1>Fixed Table header</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Food Item</th>
          <th>Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <form>
        <tr>
          <td>Food Item</td>
          <td> <input/></td>
          <td>$1.38</td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
        <tr>
          <td>Food Item</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
         <tr>
          <td>Food Item</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
         <tr>
          <td>Food Item</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
         <tr>
          <td>Food Item</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
         <tr>
          <td>Food Item</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
         <tr>
          <td>Food Item</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
         <tr>
          <td>Food Item</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
         <tr>
          <td>Food Item</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
         <tr>
          <td>Food Item</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
        </form>
        
      </tbody>
    </table>
  </div>
</section>


<script>

</script>
</body>

    