<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/StudentAttendance.scss">
    
</head>
<body>
    {{>Studentnavbar}}
{{!-- <div class="wrapper">
  <div class="Container">
        <div class="nav">
            <div class="logo">
                TheCoMess
            </div>
            <div class="menu">
                <ul class="navMenu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Listining</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Registration</a></li>
                </ul>
            </div>
        </div>
        <div class="header">
            <h1>The Spark Dimond</h1>
            <p>New area / Future City</p>
            <button type="button">View Details</button>
        </div>
    </div> --}}
    <div class="wrapper">
        <header>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Detail</a></li>
                <li><a href="#">Review</a></li>
                <li><a href="#">Purchase</a></li>
            </ul>
        </header>  

        <div class="banner">
            <h1>OUT OF SHAPE</h1>
            <p>Our mathematical theory of architecture is a means of describing the entire complex structure of a building (from the large-scale massing volumes down to the heating and ventilation systems) by a single symmetry group.</p>
            <a href="#">Join for free</a>
        </div>
        
        <div class="scroll">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <canvas id="canvas1"></canvas>
</body>
    