<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="css/Navbar.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <a></a><i class='bx bxs-food-menu' ></i>
      <span class="logo_name">TheCoMess</span>
    </div>
    <ul class="nav-links">
      {{!-- <li>
        <a href="#">
          <i class='bx bxs-bar-chart-square'></i>
          <span class="link_name"><a style="color:aliceblue">Mess Live</a></span>
        </a>
      </li> --}}
      <li>
        <a href="/studentlogin">
          <i class='bx bxs-bar-chart-square'></i>
          <span class="link_name">Mess live</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Mess Live</a></li>
        </ul>
      </li>
      <li>
        <a href="/messmenu">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="link_name">Mess menu</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Mess menu</a></li>
        </ul>
      </li>
      <li>
        <a href="/forum">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="link_name">FeedBack</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">FeedBack</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-log-out' ></i>
          <span class="link_name">LogOut</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Logout</a></li>
        </ul>
      </li>
    
  </li>
</ul>
  </div>
  {{!-- <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Drop Down Sidebar</span>
    </div>
  </section> --}}
  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>
</body>
</html>
