<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
   
</head>
<body>
   <div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class='bx bxs-food-menu' ></i>
            <div class="logo_name">TheCoMess</div>
        </div>
            <i class='bx bx-menu' ></i>
    </div>
    <ul class="nav_list">
        <li>
            <a href="#">
                <i class='bx bxs-bar-chart-square' ></i>
                <span class="links_name">Mess Live</span>
            </a>
        </li>
        <li>
            <a href="#">
              <i class='bx bxs-bowl-hot' ></i> //mess live
                <span class="links_name">Mess Menu</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-chat'></i> //mess live
                <span class="links_name">Mess Feedback</span>
            </a>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <div class="name_job">
                    <div class="name">Hello,</div>
                </div>
            </div>
        </div>
    </div>
   </div>
</body>
</html>