body {
    font-family: "proxima-nova",sans-serif;
  }
  
  .container-fluid {
      padding: 0;
  }
  
  .container {
      max-width: 800px;
  }
  
  .content-page h1, 
  .content-page h2, 
  .content-page h3, 
  .content-page h4 {
      margin: 0;
      padding: 20px 0 10px 0;
  }
  
  .content-page .row {
      padding: 30px 0 40px 0;
  }
  
  .content-page h2 {
      color: #333333;
      font-size: 30px;
  }
  .content-page p {
      color: #333333;
      font-size: 14px;
      padding-bottom: 10px;
  }
  
  .content-page a {
      color: #000;
      font-weight: 600;
  }
  
  .content-page .hero {
      height: 250px;
      background-image: url("https://systmapp-temp.s3.amazonaws.com/about/header-background.jpg");/*url("/images/headers/header-background.jpg");*/
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  
  .content-page .hero h1 {
      color: #fff;
      font-size: 48px;
  }
  .content-page .hero p {
      color: #ebf0f5;
      font-size: 14px;
  }
  
  .stats {
    background: #f0f0f0;
  }
  
  .stats .stats-value {
    font-size: 60px;
    display: block;
    text-align: center;
  }
  .stats .stats-label {
    font-size: 20px;
    display: block;
    text-align: center;
  }