@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position:relative;
    min-height:100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    position:fixed;top:0;left:0;
    height:100%;width:240px;
    background:#11101d;
    padding:6px 14px;
}
.sidebar .logo_content .logo{
    color:#fff;
    display:flex;
    height:50px;
    width:100%;
    align-items:center;
}

.logo_content .logo i{
    font-size:28px;
    margin-right:5px;
}
.logo_content .logo .logo_name{
    font-size:20px;
    font-weight:400;
}
.sidebar #btn{
    position:absolute;
    color:#fff;
    left: 90%;
    top:6px;
    font-size:20px;
    height:50px;
    width

}